@import "mediawiki.ui/variables";

.ra-read-more {
	h2 {
		border-bottom: none;
		font-size: .8em;
		font-weight: normal;
		color: @colorGray9;
		padding-bottom: 0.5em;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
