@import 'ext.guidedTour.mixins';
@import 'mediawiki.mixins';
@import 'mediawiki.mixins.animation';

// Variables

@guider_arrow_height: 42px;
@half_guider_arrow_height: @guider_arrow_height / 2;

// Rules

.guider {
	background: #FFF;
	position: absolute;
	border: 1px solid #ccc;
	width: 500px;
	padding: 12px;
	outline: none;
	font-size: 14px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	.box-shadow(0 0 4px rgba(0, 0, 0, 0.2));
	border-radius: 3px;
	z-index: 100000005 !important;
}

.guider_buttons {
	position: relative;
	width: 100%;
	margin-top: 8px;

	.mw-ui-button {
		margin-left: 6px;
		float: right;
	}

	.mw-ui-quiet {
		float: left;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.guider_content {
	position: relative;

	h1 {
		float: left;
		width: 95%;
		color: #333;
		font-size: 1.5em;
		font-weight: bold;
		padding-top: 0.1em;
		margin-bottom: 4px;
		border-bottom: none;
	}

	p {
		clear: both;
		font-size: 1em;
		line-height: 1.3em;
		color: #252525;
		margin-bottom: 1.5em;
	}
}

.guider_close {
	float: right;
	padding: 0;

	.x_button {
		cursor: pointer;
		display: block;
		height: 13px;
		width: 13px;
		background-repeat: no-repeat;
		.background-image-svg('images/ext.guidedTour.x.svg', 'images/ext.guidedTour.x.png');
	}
}

.guider_button_icon {
	display: block;
	height: 1.4em;
	width: 3em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.4em;
}

// Arrow icon buttons
.guidedtour-next-button .guider_button_icon {
	.background-image-svg('images/arrow-icon-next-ltr.svg', 'images/arrow-icon-next-ltr.png');
}
.guidedtour-back-button .guider_button_icon {
	.background-image-svg('images/arrow-icon-back-ltr.svg', 'images/arrow-icon-back-ltr.png');
}

// Okay or End button
.guidedtour-okay-button .guider_button_icon,
.guidedtour-end-button .guider_button_icon {
	.background-image-svg('images/okay-icon.svg', 'images/okay-icon.png');
}

#guider_overlay {
	background-color: #000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	/* The only browser we support that doesn't have standard opacity is IE 8, which supports -ms-filter */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	z-index: 100000004;
}

.guider_arrow_inner_container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.guider_arrow_inner {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	border: 1px solid #bbb;
	.box-shadow(0 0 4px rgba(0, 0, 0, 0.2));
	.transform-rotate(45deg);
}

.guider_arrow {
	position: absolute;
	display: none;
	background: none;
	overflow: hidden;
	/* @noflip */
	direction: ltr;

	.guider_arrow_up&,
	.guider_arrow_down& {
		width: @guider_arrow_height;
		height: @half_guider_arrow_height;
	}

	.guider_arrow_right&,
	.guider_arrow_left& {
		width: @half_guider_arrow_height;
		height: @guider_arrow_height;
	}
}

.guider_arrow_inner_container {
	height: @guider_arrow_height;
	width: @guider_arrow_height;

	.guider_arrow_right & {
		/* @noflip */
		left: -@half_guider_arrow_height;
	}

	.guider_arrow_down & {
		top: -@half_guider_arrow_height;
	}
}

.guider_arrow_up {
	display: block;
	top: -@half_guider_arrow_height;
}

.guider_arrow_right {
	display: block;
	/* @noflip */
	right: -@half_guider_arrow_height;
}

.guider_arrow_down {
	display: block;
	bottom: -@half_guider_arrow_height;
}

.guider_arrow_left {
	display: block;
	/* @noflip */
	left: -@half_guider_arrow_height;
}

/*
	Since Guiders uses dynamic absolute positioning, the elements below need to be flipped at a higher level.
*/

.position_guider_arrow_by_direction(@direction, @top, @left) {
	.guider_arrow_@{direction} .guider_arrow_inner {
		top: @top - 1px;
		/* @noflip */
		left: @left - 1px;

		// NOTE (phuedx, 2014-06-04): The 10px value is a tweaked version of
		// that generated by http://www.useragentman.com/IETransformsTranslator/
		// (was 12px).
		.ie8 & {
			top: @top - 10px;
			/* @noflip */
			left: @left - 10px;
		}
	}
}

.position_guider_arrow_by_direction(up, @half_guider_arrow_height, 0);
.position_guider_arrow_by_direction(right, 0, -@half_guider_arrow_height);
.position_guider_arrow_by_direction(down, -@half_guider_arrow_height, 0);
.position_guider_arrow_by_direction(left, 0, @half_guider_arrow_height);

.ie8 .guider_arrow_inner {
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
}
