/* Styling for [[Special:Contact/affcomusergroup]] */
body.page-Special_Contact_affcomusergroup .firstHeading {
    background-color: #2f6fab;
    color: #fff;
    padding: .5em;
    text-align: center;
}
#contactpage-affcomusergroup {
    width: inherit;
}
#contactpage-affcomusergroup .mw-ui-radio label,
#contactpage-affcomusergroup > div > :nth-child(1) label,
#contactpage-affcomusergroup > div > :nth-child(2) label {
    font-weight: bold;
}
#contactpage-affcomusergroup > div > :nth-child(3),
#contactpage-affcomusergroup > div > :nth-child(4) {
    display: none;
}
#contactpage-affcomusergroup label > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
