@import "mediawiki.mixins";

/*
 * The trigger can be placed in the personal toolbar near the username
 * or near the interlanguage links.
 */

/*
 * A hack to load the icon before the rest of the module is lazy-loaded.
 * Copied from jquery.uls.css with the path changed.
 */
.uls-trigger {
	background: transparent no-repeat scroll left center;
	.background-image-svg( '../../lib/jquery.uls/images/icon-language.svg', '../../lib/jquery.uls/images/icon-language.png' );
	padding-left: 30px;
}

#pt-uls a.uls-trigger {
	padding-left: 30px;
	/* Fix alignment in vector: https://phabricator.wikimedia.org/T61239 */
	line-height: 1;
}

/* Opera for some inexplicable reason confuses right and left padding with */
/* RTL text direction here (bug T47142). x:-o-prefocus won't match anything, */
/* but will make other browsers ignore this rule. */
x:-o-prefocus, body.rtl li#pt-uls {
	/* @noflip */
	direction: ltr;
}

#uls-settings-block {
	border-top: 1px solid #C9C9C9;
	background: #f8f8f8;
	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#F0F0F0));
	background: -webkit-linear-gradient(top, #FBFBFB, #F0F0F0);
	background: -moz-linear-gradient(top, #FBFBFB, #F0F0F0);
	background: -o-linear-gradient(top, #FBFBFB, #F0F0F0);
	background: linear-gradient(#FBFBFB, #F0F0F0);
	padding-left: 10px;
	line-height: 1.2em;
	border-radius: 0 0 5px 5px;
}

#uls-settings-block div.display-settings-block,
#uls-settings-block div.input-settings-block {
	display: inline-block;
	margin: 8px 15px;
	color: #565656;
}

#uls-settings-block div.display-settings-block:hover,
#uls-settings-block div.input-settings-block:hover {
	color: #252525;
}
