#uls-settings-block {
	border-top: 1px solid #C9C9C9;
	background: #f8f8f8;
	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#F0F0F0));
	background: -webkit-linear-gradient(top, #FBFBFB, #F0F0F0);
	background: -moz-linear-gradient(top, #FBFBFB, #F0F0F0);
	background: -o-linear-gradient(top, #FBFBFB, #F0F0F0);
	background: linear-gradient(#FBFBFB, #F0F0F0);
	padding-left: 10px;
	line-height: 1.2em;
	border-radius: 0 0 5px 5px;
}

.uls-menu h3 {
	border-bottom: medium none;
	font-size: 14pt;
	line-height: 1.5em;
	margin-bottom: 10px;
	margin-top: 0;
	padding-left: 0;
}

#languagesettings-panels .languagesettings-menu {
	padding-left: 0;
	padding-right: 0;
}

.languagesettings-menu .settings-title {
	font-size: 13pt;
}

.languagesettings-menu h1 {
	font-size: 16pt;
	line-height: 20pt;
	margin-top: 0;
	font-weight: normal;
	border: none;
	padding: 15px 0 3px 15px;
	color: #555;
}

.language-settings-buttons {
	text-align: right;
}

#languagesettings-settings-panel {
	padding-left: 5%;
	color: #252525;
	background: #FFFFFF;
	border-bottom-right-radius: 5px;
}

#languagesettings-settings-panel h3 {
	color: #252525;
	padding-top: 15px;
	margin-top: 1pt;
	line-height: 20pt;
	font-size: 16pt;
}

#languagesettings-settings-panel h4 {
	color: #252525;
	font-size: 12pt;
}

#languagesettings-settings-panel h5 {
	color: #252525;
	font-size: 10pt;
}

/* Buttons in the selector panel */
.menu-section {
	color: #777;
	padding: 5px 0 5px 50px;
	border-left: 3px solid transparent;
	display: block;
	font-size: 12pt;
}

#language-settings-dialog {
	background: #FBFBFB;
}

.uls-language-settings-close-block {
	background: #FFFFFF;
	border-top-right-radius: 5px;
}

#languagesettings-panels .menu-section.active,
#languagesettings-panels .menu-section.active:hover {
	color: black;
	background-color: #F0F0F0;
	border-left-color: #3366BB;
}

.settings-menu-items .menu-section {
	background-position: 6% 6px;
	padding-left: 40px;
	cursor: pointer;
}

.settings-menu-items .menu-section:hover {
	background-color: #F5F5F5;
}

.language-settings-buttons {
	border-top: 1px solid #F0F0F0;
	margin-top: 25px;
	padding: 15px;
	width: auto;
}

.language-settings-buttons button {
	margin-left: 15px;
}

.uls-ui-languages p,
.checkbox {
	color: #555555;
	font-size: 10pt;
}

/* mediawiki.ui does not have a pressed state style. */
#languagesettings-panels .mw-ui-pressed {
	background-color: #D8D8D8;
}

.checkbox input[type="checkbox"] {
	margin-left: 0;
}

.checkbox strong {
	color: #252525;
}

label.checkbox input[type="checkbox"] {
	float: left;
}

.waiting {
	cursor: progress;
}
